
<div class="wrapper">
  <center> <a href="{{site.baseurl}}/"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.baseurl}}/">home.</a>
           <!--   <span class="exclamationMark">//</span>
      <a class="page-link" href="https://mdef.gitlab.io/landing/#students">mdef.</a> -->


    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">//</span>    <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>



    {% endif %}
    {% endfor %}

    <!-- <span class="exclamationMark">//</span>
    <a class="page-link" href="{{site.baseurl}}/designstudio/term2/2019/01/28/Shenzhen-research-trip/">shenzhen.</a> -->
  </div>
</div>
