<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

  <!-- <header>
    </header> -->

  <!-- <div class="wrapper">
    <center> <a href="{{site.baseurl}}/"><div class="site-title">   {{site.title}} </div></a></center>
  </div>
  <div class="wrapper site-description">
  <center>  {{site.description}} </center>
  </div> -->
  <div class="wrapper">
    <div class="trigger site-navigation">
      <a class="page-link" href="{{site.baseurl}}/">home.</a>
      

      {% for sitePage in site.pages %}
      {% if sitePage.title %}

      <span class="exclamationMark">//</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- <header>
    </header> -->


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
